@{
    ViewData["Title"] = "Login";
}

    <form class="radius" id="my_form" action="">
    <h1>Login</h1>
    <br />
    <div class="okeeey">
        <input class="radius" placeholder="Login" type="text" />
        <br />
        <br />
        <button class="radius" type="submit">Авторизоваться</button>
    </div>
    </form>

<style>
    form#my_form {
        text-align: center;
        position: absolute;
        border-color: black;
        border: 10px, 10px, 10px, 10px;
        height: 300px;
        width: 500px;
        margin-block: auto;
        background-color: rgb(3, 16, 117);
    }

    .okeeey{
        height: 198px;
        left: 2px;
        width: 496px;
        background-color: rgb(90, 101, 189);
    }

    .radius{
        border-color: black;
        border: 10px, 10px, 10px, 10px;
        height: 35px;
        border-radius: 15px;
    }
</style>